@model Original.Models.Timesheet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Login</h4>
<hr />
<form method="post">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" type ="text"class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" type ="text" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type ="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" type ="time" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" type ="time" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /><button>Login</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</form>

<script>
    function auth(){
        var EmailId = document.getElementById("EmailId").value;
        var Password = document.getElementById("Password").value;
        var Usermode = document.getElementById("Usermode").value;
        if (EmailId == Login.EmailId && Password == Login.Password && Usermode == Login.Usermode) {
            window.location.assign("Admin\master");
            alert("Login Successful");
        }
        else{
            alert("Invalid Login");
        }
    }
</script>